.container {
  background-color: rgb(93, 197, 197);
}

.clm1 {
  border: none;
  background-color: blanchedalmond;
}

.facebook {
  margin-top: 10px;
  margin-bottom: 5px;
}

.clm2 {
  border: none;
  background-color: blanchedalmond;
}

.instagram {
  margin-top: 10px;
  margin-bottom: 5px;
}

.clm3 {
  border: none;
  background-color: blanchedalmond;
}

.whatsapp {
  margin-top: 10px;
  margin-bottom: 5px;
}
